name: Deploy Infrastructure Steps

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
      lambda_version:
        required: true
        type: string

jobs:
  deploy:
    environment: ${{ inputs.environment }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # loading environment variables from .github/workflows/env_vars/<environment>/env_vars.json
      # the reason why is because we can set the vars once and use them in multiple pipelines
      - name: Load environment configuration
        id: load-env
        run: |
          chmod +rwx ./.github/scripts/set_env_vars.sh
          ./.github/scripts/set_env_vars.sh ${{ inputs.environment }}

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          cd app
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run tests
        run: |
          export PYTHONPATH="${GITHUB_WORKSPACE}/app"
          echo "Running tests in app/tests..."
          python -m unittest discover -s app/tests -p "test_*.py"

      - name: Set up AWS CLI with OIDC Role
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Build Lambda if artifact doesn't exist
        run: |
          chmod +rwx ./.github/scripts/build_artifact.sh
          ./.github/scripts/build_artifact.sh lambda ${{ inputs.lambda_version }} $LAMBDA_ARTIFACTS_BUCKET get_s3_objects.py

      - name: Build Lambda Layer if it doesn't exist
        run: |
          chmod +rwx ./.github/scripts/build_artifact.sh
          ./.github/scripts/build_artifact.sh layer ${{ inputs.lambda_version }} $LAMBDA_ARTIFACTS_BUCKET requirements.txt

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Terraform Init
        working-directory: terraform-infrastructure
        run: |
          terraform init \
            -backend-config="bucket=${TF_BACKEND_BUCKET}" \
            -backend-config="key=${TF_BACKEND_KEY}" \
            -backend-config="region=${AWS_REGION}" \
            -backend-config="dynamodb_table=${TF_DYNAMODB_TABLE}"

      - name: Terraform Plan
        working-directory: terraform-infrastructure
        run: |
          terraform plan \
            -var="region=${AWS_REGION}" \
            -var="project_name=${TF_PROJECT_NAME}" \
            -var="lambda_version=${{ inputs.lambda_version }}" \
            -var="environment=${{ inputs.environment }}"

      - name: Terraform Apply
        working-directory: terraform-infrastructure
        run: |
          terraform apply -auto-approve \
            -var="region=${AWS_REGION}" \
            -var="project_name=${TF_PROJECT_NAME}" \
            -var="lambda_version=${{ inputs.lambda_version }}" \
            -var="environment=${{ inputs.environment }}"

      - name: Get Terraform Outputs
        uses: actions/upload-artifact@v4
        with:
          name: terraform-outputs-${{ inputs.environment }}
          path: terraform-infrastructure/outputs.json
          retention-days: 1
