name: infrastructure-pipeline-ecr-lambda-deploy

on:
  push:
    tags: ['v*']
  workflow_dispatch:
    inputs:
      lambda_version:
        description: 'Lambda/app version to deploy (e.g., v1.0.0)'
        required: true
        default: 'v1.0.0'
        type: string
      environment:
        description: 'Environment to deploy to'
        required: true
        default: 'dev'
        type: choice
        options:
          - dev
          - prod

permissions:
  id-token: write
  contents: read

jobs:
  deploy:
    name: Deploying ${{ github.ref_name || github.event.inputs.lambda_version }} version
    uses: ./.github/workflows/deploy_infrastructure_ecr_lambda.yaml
    secrets: inherit
    with:
      environment: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') && 'prod' || github.event.inputs.environment }}
      lambda_version: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') && github.ref_name || github.event.inputs.lambda_version }}
